In [35]:
import pandas as pd
set_c_df = pd.read_excel('TrainingSet_C.xlsx', sheet_name="Sheet1", index_col=0, skiprows=3).iloc[:,:6]
set_c_df = set_c_df.rename(columns={'Unnamed: 6':'Confidence'})
set_c_df.index = pd.to_datetime(set_c_df.index)
# set_c_df = set_c_df.rename(columns=set_c_df.iloc[1])
display(set_c_df)
print(set_c_df['Confidence'].unique())
print(len(set_c_df['Confidence'].unique()))

            Start time  End time Low range High range  TID hours Confidence
Date, 2017
2017-01-01           0         0       NaN        NaN          0        NOT
2017-01-02          14        23       900       1500          9        TID
2017-01-03          15        23       900       1600          8        TID
2017-01-04           0         0       NaN        NaN          0          m
2017-01-05          20        24       NaN        NaN          4          m
...                ...       ...       ...        ...        ...        ...
2017-12-27          19        23      1100       1500          4        TID
2017-12-28           0         0       NaN        NaN          0       band
2017-12-29           0         0       NaN        NaN          0          m
2017-12-30           0         0       NaN        NaN          0       band
2017-12-31           0         0       NaN        NaN          0          m

[365 rows x 6 columns]

['NOT' 'TID' 'm' 'TID long' 'm?' 'TID nice' 'm long' 'NOT middle' 'Dark'
 'Dark TID long' 'Dark m long' 'Dark long' 'Dark nice' 'TID dark' 'm dark'
 'NOT dark' 'm dark band' 'TID dark nice' 'NOT in center dark' 'band dark'
 'm bands' 'TID weak' 'band m' 'band' 'NOT center' 'TID ' 'm long dark'
 ' m long dark' 'm dsrk' 'bands dark' 'TID short dark' 'long dark'
 'TID banded' 'm long banded' 'TID uneven' 'm lng' 'TID band']
37

In [36]:
print(set_c_df['Confidence'].unique())
def process_conf(val):
    val = str(val)
    if 'NOT' in val:
        return 'NOT'
    elif 'TID' in val or 'nice' in val:
        return 'TID'
    elif 'm' in val:
        return 'MAYBE'
    else:
        return 'UNCERTAIN'
set_c_df['Confidence'] = set_c_df['Confidence'].apply(process_conf)
for val in set_c_df['Confidence'].unique():
    temp_df = set_c_df.loc[set_c_df['Confidence'] == val,['Confidence']]
    display(temp_df)
    print(temp_df.shape[0])

['NOT' 'TID' 'm' 'TID long' 'm?' 'TID nice' 'm long' 'NOT middle' 'Dark'
 'Dark TID long' 'Dark m long' 'Dark long' 'Dark nice' 'TID dark' 'm dark'
 'NOT dark' 'm dark band' 'TID dark nice' 'NOT in center dark' 'band dark'
 'm bands' 'TID weak' 'band m' 'band' 'NOT center' 'TID ' 'm long dark'
 ' m long dark' 'm dsrk' 'bands dark' 'TID short dark' 'long dark'
 'TID banded' 'm long banded' 'TID uneven' 'm lng' 'TID band']

           Confidence
Date, 2017
2017-01-01        NOT
2017-01-08        NOT
2017-01-11        NOT
2017-01-16        NOT
2017-01-17        NOT
2017-02-07        NOT
2017-02-10        NOT
2017-02-11        NOT
2017-02-12        NOT
2017-02-14        NOT
2017-02-15        NOT
2017-02-18        NOT
2017-02-19        NOT
2017-03-09        NOT
2017-03-27        NOT
2017-03-29        NOT
2017-04-01        NOT
2017-04-04        NOT
2017-06-17        NOT
2017-06-30        NOT
2017-07-05        NOT
2017-07-06        NOT
2017-07-07        NOT
2017-07-08        NOT
2017-07-11        NOT
2017-07-18        NOT
2017-07-26        NOT
2017-07-29        NOT
2017-08-02        NOT
2017-08-08        NOT
2017-08-10        NOT
2017-08-19        NOT
2017-08-22        NOT
2017-08-27        NOT
2017-08-28        NOT
2017-08-31        NOT
2017-09-04        NOT
2017-09-16        NOT
2017-09-17        NOT
2017-09-28        NOT
2017-10-10        NOT
2017-10-22        NOT
2017-10-25        NOT
2017-11-12        NOT
2017-11-20        NOT
2017-11-24        NOT
2017-11-26        NOT
2017-11-29        NOT
2017-12-15        NOT
2017-12-19        NOT

50

           Confidence
Date, 2017
2017-01-02        TID
2017-01-03        TID
2017-01-13        TID
2017-01-15        TID
2017-01-18        TID
...               ...
2017-12-23        TID
2017-12-24        TID
2017-12-25        TID
2017-12-26        TID
2017-12-27        TID

[97 rows x 1 columns]

97

           Confidence
Date, 2017
2017-01-04      MAYBE
2017-01-05      MAYBE
2017-01-06      MAYBE
2017-01-07      MAYBE
2017-01-09      MAYBE
...               ...
2017-12-18      MAYBE
2017-12-21      MAYBE
2017-12-22      MAYBE
2017-12-29      MAYBE
2017-12-31      MAYBE

[151 rows x 1 columns]

151

           Confidence
Date, 2017
2017-04-02  UNCERTAIN
2017-04-03  UNCERTAIN
2017-04-05  UNCERTAIN
2017-04-06  UNCERTAIN
2017-04-07  UNCERTAIN
...               ...
2017-10-11  UNCERTAIN
2017-10-29  UNCERTAIN
2017-10-30  UNCERTAIN
2017-12-28  UNCERTAIN
2017-12-30  UNCERTAIN

[67 rows x 1 columns]

67

In [ ]:
import numpy as np
DIR = 'io_segmentation/'

def move_unlabeled(parent_dir):
    no_label_dir = os.path.join(parent_dir, 'no_label/') 
    os.mkdir(NO_LABEL_PATH)
    files = [[os.path.join(DIR, file) for file in os.listdir(dir_)] for dir_ in [os.path.join(parent_dir, 'images/'), os.path.join(parent_dir, 'labels/')]
    for date in np.unique([file.split('_').split('.')[0] for file in files]):
        label_path = f'labels/{date}.txt'
        img_path = f'{date}.jpg'
        if os.path.exists(img_path):
            if os.path.exists(label_path):
                continue
            else:
                shutil.move(img_path, os.path.join(no_label_dir, img_path))
                
move_unlabeled('io_segmentation/train/')
move_unlabeled('io_segmentation/test/')